* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-13%, -13%);
    background-color: rgb(93, 98, 98);
    width: 95%;
    height: 95%;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    align-items: center;
}

h1 {
    color: #000000;
    font-size: 48px;
}

input[type="text"] {
    padding: 15px;
    border-radius: 10px;
    border: 0.2px solid;
    background: transparent;
    width: 200px;
}

.inputText {
    position: relative;
}

.inputText::before {
    content: 'Write your note';
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 10px;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
}

/* focus */
.inputText:has(input:focus)::before,
/* gdy input NIE jest pusty */
.inputText:has(input:not(:placeholder-shown))::before {
    transform: translate(-3px, -25px);
    opacity: 1;
}

button {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin-top: -10px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-2px);
}

.AddNote {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    position: relative;
}

.Notes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
    padding: 10px;
}

.notesItem {
    position: relative;

    width: 220px;
    height: 220px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.notesItem h2 {
    position: relative;
    top: 5px;
}

.removeItem {
    position: absolute;
    top: 18px;
    right: 8px;
    width: 40px;

    background: transparent;
    border: none;
    cursor: pointer;
}

.notesItem h5 {
    position: relative;
    margin-top: auto;
    align-self: flex-end;
    margin-bottom: 0;
    font-size: 12px;
}